---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import MastHead from '../components/MastHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Firefly from '../components/Firefly.astro';
import { imageConfig } from 'astro:assets';
const { name, headerImage, pfp } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-midnight-black flex flex-col">
		<Firefly/>
		<main>
            <Header/>
            <MastHead title={name} header={headerImage} profile={pfp}/>
            <slot/>
		</main>
	</body>
	<Footer/>
</html>